html {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
}

#navBar {
    height: 100%;
    padding: 1% 3%;
    /* border-bottom: 2px solid black; */
    background-color: 838383;
    display: flex;
    justify-content: space-between;
}

#companyLogo {
    line-height: 4vw;
    height: 3rem;
    width: 3.5rem;
}

#userLogo {
    text-align: center;
    line-height: 4vw;
    background-color: grey;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}

main {
    padding: 0;
    margin: 0;
}

#mainContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 18vw 62vw 18vw;
    grid-template-rows: 100%;
    column-gap: 1vw;
}

.main-children {
    height: 89vh;
    padding: 0 6%;
    text-align: center;
    background-color: #ABABAB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#previwContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#previwChild{
    display: none;
    justify-content: center;
    align-items: center;
}

#previewText{
    display: block;
}

.thumbnail-media{
    max-width: 90%;
}

#searchInput {
    width: 80%;
    text-align: center;
    border: none;
    margin: 0 auto;
    height: 4%;
    background-color: #D9D9D9;
    color: white
}

#buttonsOptionsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5% 6% 5%;
}

.buttons-options {
    /* width: 16%;
    height: 180%; */
    height: 2rem;
    width: 2rem;
    transition: 0.5s;
}

.buttons-options:hover {
    height: 2.5rem;
    width: 2.5rem;
}

.buttons-options:active {
    height: 2rem;
    width: 2rem;
}

/* #addFolderImage{
    height: 1rem;
    width: 1rem;
} */

#filesExplorerContainer {
    display: grid;
    grid-template-rows: 70% 30%;
    padding: 5% 0;
    background-color: #D9D9D9;
    height: 50vh;
}

#filesPath {
    overflow-y: scroll;
    overflow-x: auto;
    padding: 0 5%;
}

/* .first-list{
    word-wrap: break-word;
} */

#mediaFolderContainer {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 32% 32% 32%;
    gap: 2%;
    padding: 5% 5% 0 5%;
    /* height: 35vh; */
}

.media-folder-buttons {
    background-color: #B6B6B6;
    border: none;
    color: white;
}

#folderTrash {
    grid-column: 1/3;
    background-color: #B6B6B6;
    border: none;
    color: white;
}

#informationFilesContainer {
    background-color: #D9D9D9;
    height: 20vh;
    padding: 0 5%;
    overflow-x: hidden;
    overflow-y: auto;
}

.information-files {
    word-wrap: break-word;
}

#informationFilesList {
    list-style: none;
    text-align: start;
    padding: 8% 2%;
    margin: 0;
    font-size: 0.8rem;
}

#secondChildrenContainer {
    /* padding: 2%; */
    margin: 0;
    padding: 0;
    /* height: 84.4vh; */
}

#secondChildrenChild {
    background-color: #D9D9D9;
    height: 97%;
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#titleSecondChild {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    background-color: white;
    text-align: start;
    padding: 0 4%;
}

#pathSecondChild {
    display: flex;
    background-color: #ada3a3;
    text-align: start;
    height: 7vh;
    padding: 0 4%;
}

#arrowLeft {
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
    padding: 0 1% 0 0;
}

#folderIcon {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0 2% 0 0;
}

#contentSecondChild {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    text-align: start;
    padding: 0 4%;
}

#previewText {
    color: rgba(114, 114, 114, 0.8);
    font-size: 0.8rem;
}

#filesList {
    list-style: none;
    padding: 0 5%;
    margin: 0;
    text-align: start;
}

#filesListSecondChild,
#sizeListSecondChild,
#modificationListSecondChild {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2vh 0;
    margin: 0;
}

.second-flex {
    height: 5vh;
}

.second-info {
    font-size: 0.85rem;
    line-height: 5vh;
}

.text-directory {
    margin-bottom: 24px;
}

.text-list {
    padding-left: 3%;
    font-size: 0.8rem;
}

.text-second-list {
    padding-left: 5%;
}

#formUploadFile,
#inputUploadFile {
    display: none;
}

.folder-list-p {
    display: inline-block;
    font-size: 0.9rem;
    padding-left: 5%;
    margin: 0;
}

.folder-list-img {
    display: inline-block;
    height: 1.2rem;
}

.folder-second-list-img {
    display: inline-block;
    height: 2rem;
}

.folder-list-input {
    display: inline-block;
    margin-left: 6%;
    width: 60%;
    font-size: 0.8rem;
}

.extesion-file {
    color: #6a6a6a;
    padding-left: 3%;
}

#showMediaContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#showMediaChild{
    min-width: 50%;
    min-height: 50%;
    padding: 6%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}

#xIcon{
    position: absolute;
    top: 2vh;
    right: 2vh;
    height: 3vh;
}

#shownImage{
    width: 60%;
    
}

::placeholder {
    color: white;
}

textarea:focus,
input:focus {
    outline: none;
}