*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}

/* Login */

#form{
    width:30%;
}

#form input{
    width:100%;
    border: 0;
    border-bottom:1px solid #000;
}

#form input:focus{
    outline:none;
    border: 0;
    border-bottom:1px solid rgb(1, 1, 211);
}

#loginBody {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
gap: 10px;
}

#logoLogin{
    border-radius: 50%;
}

#errorMessageLogin{
    color:red;
    font-weight: 800;
}

.marginLogin{
    margin:20px 0;
}

/* Panel  */

header{
padding: 10px;
background-color: aqua;
}

#navigation{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
}

main{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 10px;
    height: 90vh;
}

#folders{
    border-right: 1px solid black;
    padding: 10px;
}

#show-files{
    border-left: 1px solid black;
    padding: 10px;
}

#files{
    padding: 10px;
}

#logo-panel{
    width: 4rem;
}

#folder{
    width: 100%;
}
img.imageFolder{
    height: 1rem;
}

#folder li{
list-style: none;
display: flex;
}

.select-folder{
    width: 60%;
}

.modify-name-folder{
    margin-right: 10px;
}

.fa-solid{
font-size: 0.8rem; 
}

.search-main{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 5px;
    border-right: 2px solid black;
}