/* font-family: 'Poppins', 'Righteous' */
#header {
    padding: 1em;
}

#section-content {
    height: 95.2vh;
}

.folderElements {
    list-style-type: none;

}

#content-box {
    height: 100%;
    padding: 1.5em;
}