*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}

/* Login */

#form{
    width:30%;
}

#form input{
    width:100%;
    border: 0;
    border-bottom:1px solid #000;
}

#form input:focus{
    outline:none;
    border: 0;
    border-bottom:1px solid rgb(1, 1, 211);
}

#loginBody {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
gap: 10px;
}

#logoLogin{
    border-radius: 50%;
}

#errorMessageLogin{
    color:red;
    font-weight: 800;
}

.marginLogin{
    margin:20px 0;
}

/* Panel  */

header{
padding: 10px;
background-color: #F9DCC4;
}

#navigation{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content:space-between;
}

main{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
    height: 90vh;
}

#folders{
    border-right: 1px solid black;
    padding: 10px;
}

#show-files{
    border-left: 1px solid black;
    padding: 10px;
}

#files{
    padding: 10px;
}

#logo-panel{
    width: 4rem;
}

#folder{
    width: 100%;
    cursor: pointer;
}
img.imageFolder{
    height: 1rem;
    margin-right: 5px;
}

#folder li{
list-style: none;
display: flex;
margin-bottom: 10px;
justify-content: space-between;
}

.select-folder{
    width: 60%;
}

.modify-name-folder{
    margin-right: 10px;
}

.fa-solid{
font-size: 0.8rem; 
cursor:pointer;
}

#tableFolder{
    width:100%;
}

#tableFolder{
    margin-bottom:10px;
    font-size:14px;
    text-align: left;
}

#tableFolder img{
    height:18px;
}

#create-new-folder{
    position: relative;
}

#create-new-folder i{
    position: absolute;
    right: 0;
    font-size: 20px;
    background: #FCD5CE;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    cursor:pointer;
}
.buttons-files{
    margin-bottom: 20px;
}

.buttons-files span{
    border-radius: 10px;
    padding: 5px;
    background: #FEC89A;
    color: #fff;
    box-shadow: 2px 2px 2px #b5b5b5;
    margin-right: 10px;
    cursor:pointer;
}

.buttons-files span i{
    margin-right:5px;
}

/* Upload File */
.upload-file-pop-up{
background: #fff;
    width: 500px;
    height: 500px;
    z-index: 100;
    position: relative;
}

/* Search */

#search{
    height: 100%;
}

#search form{
    margin:0;
}

#search input{
    height: 80%;
    width: 80%;
    margin: 0 10%;
    padding: 0 20px;
    font-size: 20px;
}

main.search-main{
position: relative;
display: inline-block;
width: calc(100% - 20px);
}

.pop-up-file{
    width: 80%;
    margin: 0 10%;
    height: 80%;
    position: absolute;
}

.hidden{
    display:none;
}

.close-popup-file i.fa-solid{
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    z-index: 100;
    position: relative;
    padding: 5px;
}

.close-popup-file i.fa-solid.fa-trash{
    font-size: 22px;
    cursor:pointer;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 50;
    width: 100%;
    height: 100%;
}

#view-content{
    width: 100%;
    position: relative;
}

#view-content video, #view-content audio, #view-content img{
    position:absolute;
    max-width:80%;
    z-index:100;
}

.folder-search{
    padding: 5px;
    background: #f3f3f3;
    font-weight: 800;
}

.file-search{ 
    padding: 10px 15px;
}

.file-search.no-folder {
    padding: 10px 0px;
}


/* editor de texto */

.text-editor{
    width: 100%;
}

.text-editor textarea{
    width: 80%;
    height: 50vh;
    margin: 5% 10%;
}

#trash-folder{
    color: red;
}

#trash-folder li{
    list-style: none;
}

#trash-folder img{
    width: 10px;
}

#trash-visual-folder{
    display: flex;
    flex-direction: row;
}




