// Central bottom path
.path-to-file {
  background-color: rgb(14, 14, 14);
  font-size: 14px;
  color: white;
  height: 35px;
  width: 100%;

  .path-link {
    text-decoration: none;
    color: white;
  }
}
