body {
  font-family: Raleway;
  scroll-behavior: smooth;
  background-image: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.box {
  border: solid white 2px;
  background-color: rgba(240, 248, 255, 0.486);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: white !important;
}
