body{
    width: 90%;
    margin: 0 auto;
}
.content{
    margin-top: 15em;
}

.logo{
    margin-left: 1em;
}

/* .loco{
   display: flex;
   flex-wrap: wrap;
} */

.sectionImg{
    max-width: fit-content;
    width: 25%;
}
