@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #00000fbb;
    display: grid;
    grid-template: 80px 1fr / 1fr 4fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column: span 2;
    box-shadow: 0 5px 5px #000000aa;
}

aside {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 15px;
    min-width: 250px;
    overflow-x: auto;
}

aside > ul li {
    grid-row: 1;
    margin-top: 10px;
}

main {
    padding: 15px;
}
.alert-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-column: 2;
    grid-row: 2;
    padding-right: 20vw;
}
.alert-delete h1 {
    text-align: center;
}

.alert-delete h2 a { 
    text-decoration: none;
    color: #000000aa;
}
.alert-delete h2 a:hover { 
    color: #002fff;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00000fbb;
}

.btns-file-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

.search-bar {
    width: 25vw;
}

.btns-file-action div {
    cursor: pointer;
    height: 80px;
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 250ms;
    font-size: 1.1vw;
}

.btns-file-action div:hover {
    background-color: rgb(235, 235, 242);
    font-size: 1.2vw ;
}

@media screen and (max-width: 1300px) {
    .btns-file-action div {
        font-size: 1.4vw;
    }

    .btns-file-action div:hover {
        font-size: 1.5vw ;
    }
} 
@media screen and (max-width: 800px) {
    .btns-file-action div {
        font-size: 1.7vw;
    }

    .btns-file-action div:hover {
        font-size: 1.8vw ;
    }
} 

.title-folders, .title-files {
    width: 100%;
    background-color: #00000fbb;
    color: white;
    padding: 3px 10px;
    margin-top: 20px;
}

.files-path {
    width: 100%;
    background-color: rgb(235, 235, 242);
    padding: 3px 10px 5px;
    margin-top: 20px;
}

.files-container {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    transition: 250ms;
    gap: 20px; 
}

.file-link {
    color: #00000fbb;
    text-decoration: none;
    transition: 250ms;
}

.file-link:hover {
    transform: scale(1.1);
    color: #00000fbb;
}

.found-file {
    display: flex;
    gap: 40px;
    cursor: pointer;
    transition: 500ms;
}
.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}
.info-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75vw;
    position: relative;
    height: 7vw;
    width: 14vw;
    display: none;
    transition: 500ms;
}

@media screen and (max-width: 1400px) {
    .info-file {
        font-size: 1vw;
        height: 9vw;
        width: 17vw;
    }
}
@media screen and (max-width: 850px) {
    .info-file {
        font-size: 1.4vw;
        height: 18vw;
        width: 17vw;
    }
    .found-file {
        flex-direction: column;
        gap: 10px;
    }
}
.found-file:hover .info-file {
    display: block;
}
.found-file:hover {
    padding: 30px;
    border: 2px solid #00000fbb;
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 0 5px #00000f88 ;
}
.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 30px;
}
.upload-form input {
    margin-bottom: 20px;
}
.upload-form label {
    margin-bottom: 5px;
}
.upload-form .btn, .location-move {
    margin: 20px 0 0;
}
.folder-option {
    background-color: rgb(235, 235, 242);
}