@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}
.searchBox {
    width: 400px;
}
.searchButton {
    background-color: #048A81;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer !important;
}
.logoContainer {
    width: 200px;
    margin-left: 15px;
}
.sideButtons {
    width: 150px;
    /* border: 1px solid #048A81; */
}

.side-span {
    padding-left: 10px;
}

.file-select {
    margin-right: 10px;
}

.navbar {
    width: 100vw;
}

.aside-bar {
    width: 15vw;
}

.main-table {
    width: 85vw;
}

.tableHead {
    background-color: #048A81;
    color: #ffffff;
}