@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.searchBox {
  width: 400px;
}
.searchButton {
  background-color: #048a81;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer !important;
}
.closeText {
  color: #ffff;
}
.logoContainer {
  width: 200px;
  margin-left: 15px;
}
.sideButtons {
  width: 150px;
  border: none;
  background: none;
}

.side-span {
  padding-left: 10px;
}

.file-select {
  margin-right: 10px;
}

.navbar {
  width: 100vw;
}

.aside-bar {
  width: 15vw;
}

#returnForm {
  margin-right: 10px;
  /* display: none; */
}
.returnBtn {
  display: none;
}

.returnIcon:hover {
  fill:#048a81;
}

.main-table {
  width: 85vw;
}
.tableHead {
  background-color: #048a81;
  color: #ffffff;
}

.folder-toggle {
  display: inline-block;
}

.folder-toggle::before {
  display: inline-block;
  width: 1.25em;
  line-height: 0;
  filter: invert(100%);
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  transform: rotate(0deg);
}

.folder-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
  /* filter: invert(0%); */
}
