h4{
    font-size: 1rem !important;
}

p{
    margin:0 !important;
    font-size: 0.8rem !important;
}

a{
    text-decoration: none !important;
    color: black !important;
}

hr{
    margin: 0 !important;
}
form{
    padding: 0;
}
section:nth-child(1){
    padding: 0;
    width: 30%;
}
section:nth-child(2){
    width: 70%;
}

main{
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 70vh;
}

.search__form {
    width: 40%;
  }

  .btn-danger{
      height: 6vh;
      width: 6vh;
      margin: 0.2rem;
  }