button{
    margin: 1vh !important;
}

hr{
    margin: 0 !important;
}

section:nth-child(1){
    width: 30%;
}
section:nth-child(2){
    width: 70%;
}
.file__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.folder {
  background-image: url("./icons/folder.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 50px;
  max-height: 50px;
}

/* .btn__previous{
    width: 4vh;
    height: 4vh;
} */

.create__form{
    width: 30%;
}

.search__form {
    width: 40%;
  }