* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid blue;
}

input:focus,
input:active {
  outline: none;
}

body {
  height: 100vh;
  background-color: rgb(199, 252, 247);
  // background-color: rgb(255, 205, 78);

  main {
    border: 3px solid black;
    border-radius: 5px;
    height: 64%;
    width: 90%;
    background-color: white;

    .header {
      height: 10%;
      border-bottom: 2px black solid;
      margin-bottom: 25px;

      #searchForm {
        height: 90%;
        background-color: rgb(233, 233, 233);
        border-radius: 6px;
        color: darkgray;
        .search-bar {
          background-color: transparent;
          height: 100%;
          width: 100%;
          border: none;
        }
        a {
          color: darkgray;
          font-size: 24px;
        }
      }

      .top-buttons {
        form {
          // margin-right: 10px;
          .custom-upload {
            input {
              display: none;
            }
          }
        }
        .create-folder {
          margin-left: 5px;
        }
      }
    }
    .bottom {
      flex-grow: 1;
      height: 90%;

      .bottom-block {
        // max-height: 525px;
        height: 100%;
      }

      // Directories
      .sidebar-left {
        .dir {
          margin: 0;
          color: black;
          text-decoration: none;
        }
        .dir-child {
          margin-left: 20px;
        }
        .dir-link:hover {
          cursor: pointer;
          text-decoration: none;
          color: gray;
        }
        .current-dir {
          font-weight: bold;
        }
      }

      // Files
      .central {
        outline: 2px rgb(0, 0, 0) solid;

        .central-columns {
          height: fit-content;
          // max-height: fit-content;
          padding: 0 66px 0 35px;
          width: 100%;
          border-bottom: 2px black solid;
          max-height: 100%;

          .column-text {
            font-weight: bold;
            font-size: 10px;
            display: flex;
            margin-bottom: 0;
          }
        }
        .central-files {
          flex: 1 1 100%;
          overflow-y: scroll;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: central;
          max-height: 100%;

          .file-item {
            transition: 0.2s;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            a {
              text-decoration: none;
            }

            .icon-and-name {
              display: flex;
              .file-icon {
                font-size: 18px;
                color: black;
              }
              .file-name {
                color: rgb(0, 0, 0);
                max-height: 22px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .file-text {
              font-size: 15px;
              margin-bottom: 0;
              color: lightgray;
            }

            .file-buttons {
              visibility: hidden;
              padding: 0;
              form {
                input {
                  display: none;
                }
              }
              // .delete-file {
              //   color: rgb(210, 4, 4);
              // }
            }
          }
        }

        .file-item:hover {
          background-color: rgb(240, 240, 240);
          .file-buttons {
            visibility: visible;
          }
        }

        .path-to-file {
          width: 100%;
          height: 35px;
          font-size: 14px;
          color: white;
          background-color: rgb(14, 14, 14);

          .path-link {
            color: white;
            text-decoration: none;
          }
        }
      }

      // File preview
      .sidebar-right {
        height: 100%;
        .preview-wrapper {
          .icon-wrapper {
            margin-bottom: 40px;
            .preview-icon {
              font-size: 120px;
            }
            .badge-dark {
              background-color: var(--bs-dark);
              .preview-link {
                color: white;
                text-decoration: none;
              }
            }
          }
          .preview-info {
            margin-bottom: 10px;
            font-size: 10px;
            height: fit-content;
            * {
              padding: 0;
            }
            hr {
              margin-bottom: 5px;
            }
            .preview-title {
              font-weight: bold;
            }
            .preview-text {
              text-overflow: ellipsis;
            }
            .preview-title,
            .preview-text {
              // max-height: 15px;
              padding: 0;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .drop-wrapper {
    width: 90%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.632);
    border-radius: 5px;
    .drop-upload {
      position: relative;
      width: 100%;
      height: 100%;
      input {
        opacity: 0%;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      h4 {
        position: absolute;
      }
    }
  }

  // Modals
  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          form {
            .modal-item {
              width: 100%;
            }

            .modal-title {
              transform: translateX(3px);
            }

            .modal-input {
              border: none;
              background-color: rgb(233, 233, 233);
              border-radius: 6px;
              padding: 10px;
            }

            #oldName,
            #oldPath {
              display: none;
              font-size: 12px;
              border: none;
            }
          }
        }
      }
    }
  }
}
