$font: "Ubuntu", sans-serif;
$backgroundC: #fafafa;
$boxColor: #ffffff;
$textPostColor: #262626;
$postColor: #404040;
$flexbox:flex;
$borderColor:1px solid #dbdbdb;
$anchor:100%;
/*_________________*/
@mixin grid2($cell1,$cell2,$gap) {
  display: grid;
  grid-template-columns: $cell1 $cell2;
  column-gap: $gap;
  justify-content: left;
  align-content: flex-start;
}
@mixin resetMarginPadding {
    margin: 0;
    padding: 0;
  }
@mixin inputs($color,$top){
    border-radius: 50%;
    border: $borderColor;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: $color;
    margin-top: $top;
    margin-left: 50px;
    
    
    
  }
@mixin image ($ejeZ){
    position: absolute;
    z-index: $ejeZ;
    width: 50%; 
  }
@mixin backimag ($ejeX,$ejeY,$bordeR,$url){
  height: $ejeX;
  width: $ejeY;
  border-radius: $bordeR;
  margin: 5px;
  background-image: url($url);
  background-size: cover;
  background-position: center;
}
@mixin flex ($direction,$xPos,$ypos,$color,$borde,$anchor){
    display: $flexbox;
    flex-direction: $direction;  
    justify-content: $xPos;
    align-items: $ypos;
    width: $anchor;
    background-color: $color;
    border: #dbdbdb $borde solid;
  
  }
@mixin aHref ($color,$fonts){
  text-decoration: none;
  color: $color;
  font-weight: 700;
  font-family: $fonts;
  justify-self: center;
    align-self: center;
  
}

body {
  background-color: $backgroundC;
  font-family: $font;
  //@include resetMarginPadding;
 
}